.bg-gray {
    background-color: #ebf5f3;
  }
  .btn-success{

    background-color: #8A2BE2; /* Light purple color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 0.375rem 0.75rem; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s ease; /* Add transition effect *
  }
  
  .btn-purple:hover {
    background-color: #800080; /* Darker purple color on hover */
  }
  

/* .container2{
    width: 100px; #8d204d;
    max-width: 1200px;
    margin: 0 auto;

} */
.Z1 {
    align-items: center; 
    padding-left: 330px;
    /* font-feature-settings: "ss01" on, "tnum" on; */
    font-weight: 500;
    font-size: 34px;
line-height: 56px;
}
.Z2{
    align-items: center; 
    text-align:left;
    font-size: 17px;
    color: #2b3857;
    font-weight: 400;
   font-size: 18px;
  line-height: 26px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    width: 75%;
    padding: 20px;
    /* padding-left: 100px; */ /* Remove this line */
}

.image-container {
    width: 50%;
}

.h1container2 {
font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.h2container2 {
    text-align:left;
    font-size: 17px;
    color: #2b3857;
    font-weight: 400;
   font-size: 18px;
  line-height: 26px;
}
.h3container2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.h4container2{
    text-align:left;
    font-size: 17px;
    color: #2b3857;
    font-weight: 400;
   font-size: 18px;
  line-height: 26px;
}

.imgcontainer2 {
    width: 70%;
    height: auto;
}

/* conten1code */

.content-wrapper1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    background-color: #ebf5f3; 
    
   }
   .text-container1{
       width: 75%;
       padding: 20px;
   }
   .image-container1{
       width: 85%;
       
   }
       .h1container1{
           /* font-family:Arial, Helvetica, sans-serif;
           text-align:left; */
           font-feature-settings: "ss01" on, "tnum" on;
           font-weight: 700;
           font-size: 44px;
    line-height: 56px;
       }
       .h2container1{
           text-align:left;
           font-size: 17px;
           color: #2b3857;
           font-weight: 400;
          font-size: 18px;
         line-height: 26px;
           
       }
   .imgcontainer1{
      width: 85%;
      height: auto;
   }

   /* conten3code */
   .container3{
    background-color: #ebf5f3;

} 
.Z5{
    align-items: center; 
    padding-left: 330px;
    font-feature-settings: "ss01" on, "tnum" on;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}
.Z7{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color:  #2b3857;
    margin-top: 20px;
}
.content-wrapper3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;   
   
   }
   .text-container3{
       width: 75%;
       padding-right: 100px;
   }
   .image-container3{
       width: 80%;
       padding-left: 80px;
   }
       .h1container3{
           font-family:Arial, Helvetica, sans-serif;
           text-align:left;
       }
       .h2container3{
           text-align:left;
           font-size: 17px;
           
       }
   .imgcontainer3{
      width: 80%;
      height: auto;
      
   }
   /* carousol container 
   .carousel-container {
    height: auto; 
    overflow-y: hidden; 
    display: flex;
    flex-direction: column;
}

.carousel-item {
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.carousel-item h1,
.carousel-item h2,
.carousel-item h3,
.carousel-item h4,
.carousel-item h5,
.carousel-item h6 {
    margin: 0;
}

.carousel-item h1,
.carousel-item h3,
.carousel-item h5 {
    font-size: 18px; /
}

.carousel-item h2,
.carousel-item h4,
.carousel-item h6 {
    font-size: 14px; 
}
*/